

<div class="container-fluid main-admin-box">

    <nav class="navbar navbar-expand-lg navbar-dark navbar-theme_angel">

        <a class="navbar-brand" href="/web/admin">
            <img alt="logo" src="/static/css/images/logo_angel.png">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" >

            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link menu" (click)="toggleLeftMenu()"> <i class="fa fa-navicon" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu" routerLink="/info/basic"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                </li>
            </ul>


            <ul class="navbar-nav" >
                <li class="nav-item">
                    <a class="nav-link menu" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu" (click)="logout()" ><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>

        </div>
    </nav>








    <div class="aside" [class.aside-collapsed]="isLeftMenuCollapsed">

        <div class="card" [class.active] = "currentMenu===1">

            <a data-toggle="collapse" href="#collapse1" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 1)" (mouseenter)="mouseEnterMenu($event, 1)">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span class="ml-2">Dashboard</span>
            </a>

            <div class="collapse" [class.show]="menuList[1]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===1" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a (click)="clickSubMenu(11)">Dashboard v1</a> </li>
                </ul>
            </div>

        </div>


        <div class="card" [class.active] = "currentMenu===2">

            <a data-toggle="collapse" href="#collapse2" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 2)" (mouseenter)="mouseEnterMenu($event, 2)">
                <!--<div class="float-right badge badge-info">3</div>-->
                <i class="fa fa-book" aria-hidden="true"></i>
                <span class="ml-2">供应商管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[2]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===2" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/supplier/shipAgency" (click)="clickSubMenu(21)">船只代理公司</a> </li>
                    <li routerLinkActive="active" > <a routerLink="/supplier/ship" (click)="clickSubMenu(22)">船只管理</a> </li>
                    <li routerLinkActive="active" > <a routerLink="/supplier/harbor" (click)="clickSubMenu(23)">港口管理</a> </li>
                    <li routerLinkActive="active"> <a routerLink="/supplier/trader" (click)="clickSubMenu(23)">煤炭贸易商与矿场管理</a> </li>
                    <li routerLinkActive="active"> <a routerLink="/supplier/ccstrader" (click)="clickSubMenu(24)">CSS贸易公司管理</a> </li>
                </ul>
            </div>
        </div>



        <div class="card" [class.active] = "currentMenu===3">

            <a data-toggle="collapse" href="#collapse3" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 3)" (mouseenter)="mouseEnterMenu($event, 3)">
                <i class="fa fa-archive" aria-hidden="true"></i>
                <span class="ml-2">业务数据字典管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[3]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===3" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/dict/coaltype" (click)="clickSubMenu(31)">煤种管理</a> </li>
                </ul>
            </div>
        </div>



        <div class="card" [class.active] = "currentMenu===4">

            <a data-toggle="collapse" href="#collapse4" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 4)" (mouseenter)="mouseEnterMenu($event, 4)">
                <i class="fa fa-users" aria-hidden="true"></i>
                <span class="ml-2">瑞茂通员工管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[4]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===4" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/ccs/user" (click)="clickSubMenu(41)">员工管理</a> </li>
                    <li routerLinkActive="active" > <a routerLink="/ccs/department" (click)="clickSubMenu(42)">部门管理</a> </li>
                    <li routerLinkActive="active" > <a routerLink="/ccs/team" (click)="clickSubMenu(43)">业务团队管理</a> </li>
                </ul>
            </div>
        </div>




        <div class="card" [class.active] = "currentMenu===5">

            <a data-toggle="collapse" href="#collapse5" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 5)" (mouseenter)="mouseEnterMenu($event, 5)">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span class="ml-2">业务管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[5]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===5" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/business/line" (click)="clickSubMenu(51)">业务线管理</a> </li>
                </ul>
            </div>
        </div>


        <div class="card" [class.active] = "currentMenu===6">

            <a data-toggle="collapse" href="#collapse6" role="tab" aria-expanded="true" aria-controls="collapseOne" (click)="clickMenu($event, 6)" (mouseenter)="mouseEnterMenu($event, 6)">
                <i class="fa fa-table" aria-hidden="true"></i>
                <span class="ml-2">报表管理</span>
            </a>

            <div class="collapse" [class.show]="menuList[6]&&!isLeftMenuCollapsed || isLeftMenuCollapsed&&currentMouseOverMenu===6" role="tabpanel" aria-labelledby="headingOne" (mouseleave)="mouseLeaveMenu()">
                <ul class="list-group">
                    <li routerLinkActive="active" > <a routerLink="/report/daily" (click)="clickSubMenu(61)">国际煤炭运营日报</a> </li>
                </ul>
            </div>
        </div>



    </div>







    <div class="right-content-box">
        <div class="row justify-content-center mt-2 ml-4 mr-4">
            <div class="col-12">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>




    <simple-notifications></simple-notifications>

</div>
















