<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
    <!-- Content here -->

    <div class="row">
        <div class="col">
            <h3 class="mt-4 mb-4">
                合同管理
                <button type="button" class="btn btn-outline-info btn-sm float-right" *ngIf="!isShowForm" (click)="showForm(true)">添加</button>
            </h3>
        </div>
    </div>


    <div class="row" *ngIf="isShowForm">
        <div class="col">
            <form [formGroup]="contractForm" (keydown.enter)="$event.preventDefault()" >

                <bs-select formControlName ="orderId" [fc]="contractForm.get('orderId')" [label]="'业务线:'" [dirty]="ignoreDirty" [options]="orderList" [error]="contractFormError.orderId" (outputChange)="filterTransaction($event)"></bs-select>
                <bs-select formControlName ="orderTransactionId" [fc]="contractForm.get('orderTransactionId')" [label]="'业务线环节:'" [dirty]="ignoreDirty" [options]="orderTransactionList" [error]="contractFormError.orderTransactionId"></bs-select>


                <bs-select formControlName ="coalType" [fc]="contractForm.get('coalType')" [label]="'煤种:'" [dirty]="ignoreDirty" [options]="coalTypeList" [error]="contractFormError.coalType"></bs-select>

                <bs-text-input formControlName="quantity" [fc]="contractForm.get('quantity')" [type]="'text'" [label]="'数量:'" [dirty]="ignoreDirty" [error]="contractFormError.quantity"></bs-text-input>
                <bs-text-input formControlName="unitPrice" [fc]="contractForm.get('unitPrice')" [type]="'text'" [label]="'单价:'" [dirty]="ignoreDirty" [error]="contractFormError.unitPrice"></bs-text-input>

                <div class="form-group row">
                    <div class="col-10 ml-auto">
                        <button type="button" class="btn btn-info " (click)="contractFormSubmit()">保存</button>
                        <button type="button" class="btn btn-outline-secondary" (click)="showForm(true)">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row" *ngIf="!isShowForm">

        <div class="col">
            <form [formGroup]="contractSearchForm" (keydown.enter)="$event.preventDefault()">

                <div class="form-row ">
                    <div class="col-6">
                        <bs-select formControlName ="coalType" [fc]="contractSearchForm.get('coalType')" [label]="'煤种:'" [options]="coalTypeList" [addAllOptions]="true"></bs-select>
                    </div>
                    <div class="col-6">
                        <bs-text-input formControlName="quantity" [fc]="contractSearchForm.get('quantity')" [type]="'text'" [label]="'数量:'" ></bs-text-input>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="col-6">
                        <bs-text-input formControlName="unitPrice" [fc]="contractSearchForm.get('unitPrice')" [type]="'text'" [label]="'单价:'" ></bs-text-input>
                    </div>

                </div>

                <!--<div class="form-row ">-->
                <!--<div class="col-3">-->
                <!--<bs-datepicker formControlName="createDateStart" [fc]="orderSearchForm.get('createDateStart')" [label]="'创建时间:'" [labelclass]="'col-4'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>-->
                <!--</div>-->
                <!--<div class="col-3">-->
                <!--<bs-datepicker formControlName="createDateEnd" [fc]="orderSearchForm.get('createDateEnd')" [label]="'至:'" [labelclass]="'col-1'" [inputclass]="'col-7'" [format]="'yyyy-mm-dd hh:MM:ss'"></bs-datepicker>-->
                <!--</div>-->
                <!--<div class="col-6">-->
                <!--<bs-select formControlName ="status" [fc]="orderSearchForm.get('status')" [label]="'状态:'" [options]="orderStatusList" [addAllOptions]="true"></bs-select>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group row">
                    <div class="col-11 ml-auto">
                        <button type="button" class="btn btn-info " (click)="getContractList()">查询</button>
                    </div>
                </div>
            </form>


            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>业务线</th>
                    <th>煤种</th>
                    <th>数量</th>
                    <th>单价</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contract of contractList; trackBy: trackByFn">
                        <td> <a class="btn btn-link btn-sm" role="button"> {{contract.id}}</a> </td>
                        <td> {{contract.orderId | findKey : orderList : 'name' }}</td>
                        <td> {{contract.coalType | findKey : coalTypeList : 'name' }}</td>
                        <td> {{contract.quantity }}</td>
                        <td> {{contract.unitPrice }}</td>

                        <td>
                            <button class="btn btn-link btn-sm" (click)="showForm(false, contract)"> 修改</button>
                            <button class="btn btn-link btn-sm" (click)="deleteItem(contract)"> 删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>

